<nav class="navbar navbar-expand px-3 border-bottom">
  <button class="btn" id="sidebar-toggle" type="button">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="navbar-collapse navbar">
    <ul class="navbar-nav">
      <li class="nav-item dropdown">
        {% if session.get('image') %}
        <a
          href="#"
          data-bs-toggle="dropdown"
          class="nav-link dropdown-toggle pe-md-0"
        >
          <img
            src="{{ url_for('static', filename='uploads/' ~ session['image']) }}"
            alt="User Image"
            class="avatar img-fluid rounded-circle"
          />
        </a>
        <div class="dropdown-menu dropdown-menu-end">
          <a
            href="{{ url_for('profile', id=session['user_id']) }}"
            class="dropdown-item"
            >Profile</a
          >
          <a href="#" class="dropdown-item">Settings</a>
          <a href="{{ url_for('logout') }}" class="dropdown-item">Logout</a>
        </div>
        {% else %}
        <a href="{{ url_for('login') }}" class="dropdown-item">Login</a>
        {% endif %}
      </li>
    </ul>
  </div>
</nav>

<a href="#" class="theme-toggle">
  <i class="fa-regular fa-moon"></i>
  <i class="fa-regular fa-sun"></i>
</a>
