<!-- index.html -->
{% extends 'base.html' %} {% block content %}
<main class="content px-3 py-2">
  <div class="container-fluid">
    <div class="mb-3">
      <h4>Admin Dashboard</h4>
    </div>
    <div class="row">
      <!-- Total Sales Card -->
      <div class="col-12 col-md-3 d-flex">
        <div class="card1 flex-fill border-0 illustration">
          <div class="card-body p-0 d-flex flex-fill">
            <div class="row g-0 w-100">
              <div class="col-12 text-center">
                <div class="flex-grow-1">
                  <h4 class="mb-2">
                    <i class="fas fa-dollar-sign"></i> {{ total_sales_amount }}
                  </h4>
                  <p class="mb-2">Total Sales</p>
                  <div class="mb-0">
                    <span> This Month</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Total Users Card -->
      <div class="col-12 col-md-3 d-flex">
        <div class="card1 flex-fill border-0 illustration">
          <div class="card-body p-0 d-flex flex-fill">
            <div class="row g-0 w-100 align-items-center">
              <div class="col-12 text-center">
                <i class="fas fa-users fa-2x mb-2"></i>
                <h4 class="mb-2">{{ user_count }}</h4>
                <p class="mb-1">Total Users</p>
                <div class="text-muted">
                  <span> This Month</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Pending Orders Card -->
      <div class="col-12 col-md-3 d-flex">
        <div class="card1 flex-fill border-0 illustration">
          <div class="card-body p-0 d-flex flex-fill">
            <div class="row g-0 w-100">
              <div class="col-12 text-center">
                <div class="flex-grow-1">
                  <i class="fas fa-hourglass-half"></i>
                  <h4 class="mb-2">{{ pending_orders_count }}</h4>
                  <p class="mb-2">Pending purchase</p>
                  <div class="mb-0">
                    <span>Current Status</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- New Orders Card -->
      <div class="col-12 col-md-3 d-flex">
        <div class="card1 flex-fill border-0 illustration">
          <div class="card-body p-0 d-flex flex-fill">
            <div class="row g-0 w-100 align-items-center">
              <div class="col-12 text-center">
                <i class="fas fa-box fa-2x mb-2"></i>
                <h4 class="mb-2">{{ new_orders_count }}</h4>
                <p class="mb-1">is running low.</p>
                <div class="text-muted">
                  <span>This Month</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Table Element -->
      <div class="container mt-5">
        <div class="row">
          <!-- First Table -->
          <div class="col-md-8">
            <div class="card border-0">
              <div class="card-body">
                <table class="table" id="searchTable1">
                  <thead>
                    <tr>
                      <th>#</th>
                      <th class="sortable">Invoice Number</th>

                      <th class="sortable">Price</th>
                      <th class="sortable">Subtotal</th>
                    </tr>
                  </thead>
                  <tbody id="orderTableBody1">
                    {% for row in data1 %}
                    <tr>
                      <td>{{ row[0] }}</td>

                      <td>{{ row[5] }}</td>
                      <td>{{ row[6] }}</td>
                      <td>{{ row[7] }}</td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>

          <!-- Second Table -->
          <div class="col-md-4">
            <div class="card border-0">
              <div class="card-body">
                <table class="table" id="searchTable2">
                  <thead>
                    <tr>
                      <th>#</th>
                      <th class="sortable">Invoice Number</th>

                      <th class="sortable">Price</th>
                      <th class="sortable">Subtotal</th>
                    </tr>
                  </thead>
                  <tbody id="orderTableBody2">
                    {% for row in data2 %}
                    <tr>
                      <td>{{ row[0] }}</td>

                      <td>{{ row[5] }}</td>
                      <td>{{ row[6] }}</td>
                      <td>{{ row[7] }}</td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

{% endblock %}
