{% extends 'base.html' %} {% block content %}

<div class="card border-0">
  <div class="card-header">
    <h6 class="card-title">Inventory Information</h6>

    <div class="d-flex justify-content-end">
      <input
        id="searchInput"
        type="text"
        class="form-control"
        placeholder="Search..."
      />
    </div>

    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-striped table-bordered" id="searchTable">
          <thead>
            <tr>
              <th>#</th>
              <th class="sortable">Product Name</th>
              <th class="sortable">Quantity</th>
              <th class="sortable">Date Updated</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody id="inventoryTableBody">
            {% for row in data %}
            <tr>
              <td>{{ row[0] }}</td>
              <!-- Inventory ID -->
              <td>{{ row[1] }}</td>
              <!-- Product Name -->
              <td>{{ row[2] }}</td>
              <!-- Quantity -->
              <td>{{ row[3] }}</td>
              <!-- Date Updated -->
              <td>
                <!-- Edit Button -->
                <a
                  href="{{ url_for('edit_inventory', inventory_id=row[0]) }}"
                  class="btn btn-primary btn-sm"
                >
                  Adjustments
                  <i class="fas fa-edit"></i>
                </a>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>

    <script src="{{ url_for('static', filename='js/addmodels.js') }}"></script>

    {% endblock %}
  </div>
</div>
