{% extends 'base.html' %} {% block content %}
<div class="card border-0">
  <div class="card-header">
    <h6 class="card-title">Order Information</h6>

    <div class="d-flex justify-content-end">
      <input
        id="searchInput"
        type="text"
        class="form-control"
        placeholder="Search..."
      />

      <button
        type="button"
        class="btn btn-primary"
        onclick="window.location.href='{{ url_for('add_order') }}'"
      >
        <i class="fa fa-plus-circle"></i> Add Order
      </button>
    </div>
  </div>

  <div class="card-body">
    <table class="table" id="searchTable">
      <thead>
        <tr>
          <th>#</th>
          <th class="sortable">Invoice Number</th>
          <th class="sortable">Supplier</th>
          <th class="sortable">Product Name</th>
          <th class="sortable">Product Unit</th>
          <th class="sortable">Quantity</th>
          <th class="sortable">Price</th>
          <th class="sortable">Subtotal</th>
          <th class="sortable">Date Order</th>
          <th class="sortable">Status</th>

          <th>Actions</th>
        </tr>
      </thead>
      <tbody id="orderTableBody">
        {% for row in data %}
        <tr>
          <td>{{ row[0] }}</td>
          <td>{{ row[1] }}</td>
          <td>{{ row[2] }}</td>
          <td>{{ row[3] }}</td>
          <td>{{ row[4] }}</td>
          <td>{{ row[5] }}</td>
          <td>{{ row[6] }}</td>
          <td>{{ row[7] }}</td>
          <td>{{ row[8] }}</td>
          <td
            class="{% if row[9] == 'Pending' %}status-pending{% elif row[9] == 'Completed' %}status-completed{% endif %}"
          >
            {{ row[9] }}
          </td>
          <td>
            <button
              class="btn btn-primary btn-sm edit-btn"
              data-order_id="{{ row[0] }}"
              data-invoice_number="{{ row[1] }}"
              data-supplier="{{ row[2] }}"
              data-product_name="{{ row[3] }}"
              data-unit="{{ row[4] }}"
              data-qty="{{ row[5] }}"
              data-price="{{ row[6] }}"
              data-subtotal="{{ row[7] }}"
              data-date_order="{{ row[8] }}"
              data-status="{{ row[9] }}"
              data-bs-toggle="modal"
              data-bs-target="#orderModal"
              onclick="populateForm(this)"
            >
              <i class="fas fa-edit"></i>
            </button>

            <form
              id="deleteForm{{ row[0] }}"
              action="{{ url_for('delete_order',order_id=row[0]) }}"
              method="POST"
              style="display: inline"
            >
              <button
                type="button"
                class="btn btn-danger btn-sm"
                onclick="confirmDelete('{{ row[0] }}')"
              >
                <i class="fas fa-trash-alt"></i>
              </button>
            </form>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

  <!-- Modal for Edit Order -->
  <div
    class="modal fade"
    id="editOrderModal"
    tabindex="-1"
    aria-labelledby="orderModalTitle"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="orderModalTitle">Edit Order</h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <form id="editOrderForm" method="POST" enctype="multipart/form-data">
            <input type="hidden" id="orderId" name="order_id" />
            <div class="form-group">
              <label for="invoiceNumber">Invoice Number</label>
              <input
                type="text"
                class="form-control"
                id="invoice_number"
                name="invoice_number"
                placeholder="Enter invoice number"
                required
              />
            </div>
            <div class="mb-3">
              <label for="supplier" class="form-label">Supplier</label>
              <select
                id="supplier"
                name="supplier"
                class="form-control"
                required
              >
                <option value="" disabled selected>Select a supplier</option>
                {% for supplier in suppliers %}
                <option value="{{ supplier[0] }}">{{ supplier[1] }}</option>
                {% endfor %}
              </select>
            </div>

            <div class="mb-3">
              <label for="productId" class="form-label">Product Name</label>
              <select
                class="form-control"
                id="productId"
                name="product_name"
                required
              >
                <option value="">Select Product</option>
                {% for product in products %}
                <option value="{{ product[0] }}">{{ product[1] }}</option>
                {% endfor %}
              </select>
            </div>
            <div class="mb-3">
              <label for="product_unit">Product Unit</label>
              <input
                type="text"
                id="product_unit"
                name="product_unit"
                class="form-control"
                required
                readonly
              />
            </div>
            <div class="form-group">
              <label for="quantity">Quantity</label>
              <input
                type="number"
                class="form-control"
                id="qty"
                name="qty"
                placeholder="Enter quantity"
              />
            </div>
            <div class="form-group">
              <label for="price">Price</label>
              <input
                type="number"
                step="0.01"
                class="form-control"
                id="price"
                name="price"
                placeholder="Enter price"
              />
            </div>

            <div class="form-group">
              <label for="subtotal">Subtotal</label>
              <input
                type="number"
                step="0.01"
                class="form-control"
                id="subtotal"
                name="subtotal"
                placeholder="Enter subtotal"
                required
                readonly
              />
            </div>

            <div class="form-group">
              <label for="status">Status</label>
              <select class="form-control" id="status" name="status">
                <option value="Pending">Pending</option>
                <option value="Completed">Completed</option>
              </select>
            </div>
            <div class="form-group">
              <label for="dateOrder">Order Date</label>
              <input
                type="date"
                class="form-control"
                id="date_order"
                name="date_order"
              />
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-secondary"
                data-bs-dismiss="modal"
              >
                Close
              </button>
              <button type="submit" class="btn btn-primary">
                Save changes
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <script src="{{ url_for('static', filename='js/addmodels.js') }}"></script>
  {% endblock %}
</div>
