{% extends 'base.html' %} {% block content %}
<div class="card border-0">
  <div class="card-header">
    <h6 class="card-title">Order Information</h6>

    <div class="d-flex justify-content-end">
      <input
        id="searchInput"
        type="text"
        class="form-control"
        placeholder="Search..."
      />

      <button
        type="button"
        class="btn btn-primary"
        onclick="window.location.href='{{ url_for('add_order') }}'"
      >
        <i class="fa fa-plus-circle"></i> Add Order
      </button>
    </div>

    <div class="card-body">
      <table class="table" id="searchTable">
        <thead>
          <tr>
            <th>#</th>

            <th class="sortable">Invoice Number</th>
            <th class="sortable">Supplier</th>
            <th class="sortable">Product Name</th>
            <th class="sortable">Quantity</th>
            <th class="sortable">Price</th>
            <th class="sortable">Subtotal</th>
            <th class="sortable">Status</th>
            <th class="sortable">Date Order</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody id="orderTableBody">
          {% for row in data %}
          <tr>
            <td>{{ row[0] }}</td>
            <td>{{ row[1] }}</td>
            <td>{{ row[3] }}</td>
            <td>{{ row[4] }}</td>
            <td>{{ row[5] }}</td>
            <td>{{ row[6] }}</td>
            <td>{{ row[7] }}</td>
            <td>{{ row[9] }}</td>
            <td>{{ row[2] }}</td>
            <td>
              <button
                class="btn btn-primary btn-sm edit-btn"
                data-order_id="{{ row[0] }}"
                data-invoice_number="{{ row[1] }}"
                data-product_name="{{ row[4] }}"
                data-supplier="{{ row[3] }}"
                data-qty="{{ row[5] }}"
                data-price="{{ row[6] }}"
                data-subtotal="{{ row[8] }}"
                data-status="{{ row[9] }}"
                data-date_order="{{ row[2] }}"
                data-bs-target="#editOrderModal"
              >
                <i class="fas fa-edit"></i>
              </button>

              <form
                id="deleteForm{{ row[0] }}"
                action="{{ url_for('delete_order', order_id =row[0]) }}"
                method="POST"
                style="display: inline"
              >
                <button
                  type="button"
                  class="btn btn-danger btn-sm"
                  onclick="confirmDelete('{{ row[0] }}')"
                >
                  <i class="fas fa-trash-alt"></i>
                </button>
              </form>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>

  {% include 'addmodels.html' %}
  <script src="{{ url_for('static', filename='js/addmodels.js') }}"></script>

  {% endblock %}
</div>
