<aside id="sidebar" class="js-sidebar">
  <!-- Content For Sidebar -->
  <div class="h-100">
    <div class="sidebar-logo">
      <a href="#">Inventory Mangement System</a>
    </div>
    <ul class="sidebar-nav">
      <li class="sidebar-header">Admin Elements</li>
      <li class="sidebar-item">
        <a href="/" class="sidebar-link">
          <i class="fa-solid fa-list pe-2"></i>
          Dashboard
        </a>
      </li>

      <li class="sidebar-item">
        <a href="/customers" class="sidebar-link">
          <i class="fa-solid fa-users pe-2"></i>
          Customers
        </a>
      </li>
      <li class="sidebar-item">
        <a href="#" class="sidebar-link">
          <i class="fa-solid fa-truck pe-2"></i>
          Suppliers
        </a>
      </li>
      <li class="sidebar-item">
        <a href="#" class="sidebar-link">
          <i class="fa-solid fa-boxes-stacked pe-2"></i>
          Inventory
        </a>
      </li>
      <li class="sidebar-item">
        <a href="#" class="sidebar-link">
          <i class="fa-solid fa-folder pe-2"></i>
          Category
        </a>
      </li>

      <li class="sidebar-item">
        <a
          href="#"
          class="sidebar-link collapsed"
          data-bs-target="#reports"
          data-bs-toggle="collapse"
          aria-expanded="false"
        >
          <i class="fa-solid fa-chart-bar pe-2"></i>
          Reports
        </a>
        <ul
          id="reports"
          class="sidebar-dropdown list-unstyled collapse"
          data-bs-parent="#sidebar"
        >
          <li class="sidebar-item">
            <a href="#" class="sidebar-link"> Daily</a>
          </li>
          <li class="sidebar-item">
            <a href="#" class="sidebar-link"> Monthly</a>
          </li>
          <li class="sidebar-item">
            <a href="#" class="sidebar-link"> Yearly</a>
          </li>
        </ul>
      </li>

      <li class="sidebar-item">
        <a
          href="#"
          class="sidebar-link collapsed"
          data-bs-target="#auth"
          data-bs-toggle="collapse"
          aria-expanded="false"
        >
          <i class="fa-regular fa-user pe-2"></i>
          Auth
        </a>
        <ul
          id="auth"
          class="sidebar-dropdown list-unstyled collapse"
          data-bs-parent="#sidebar"
        >
          <li class="sidebar-item">
            <a href="Register" class="sidebar-link">User Register</a>
          </li>
          <li class="sidebar-item">
            <a href="#" class="sidebar-link"> Forgot Password</a>
          </li>
        </ul>
      </li>

      <li class="sidebar-item">
        <a href="/login" class="sidebar-link">
          <i class="fa-solid fa-sign-out-alt pe-2"></i>
          Logout
        </a>
      </li>
    </ul>
  </div>
</aside>
